nav {
  position: fixed;
  z-index: 5;
  background-color: #ffffff61;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1.25rem;
  color: white;
}

ul > li,
ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
}


ul > li:hover {
  transform: scale(1.1);
}

ul > li > a {
  position: relative;
  text-decoration: none;
}

ul > li > a.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background: greenyellow;
  border-radius: 10px;
}

span > a > i {
  font-size: 4rem;
  color: white;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}


/* kolory motywu */
body.light {
  background: #f5f5f5;
  color: #111;
  transition: 0.3s;
}

body.dark {
  background: #111;
  color: #f5f5f5;
  transition: 0.3s;
}

/* przycisk */
.theme-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  transition: 0.3s;
}

.theme-btn:hover {
  transform: rotate(20deg) scale(1.1);
}

nav.light a > i,
nav.light a,
nav.light .theme-btn {
  color: black;
}

nav.light {
    background-color: white;
}

